.page{
	background: no-repeat url('images/bg.png') 0 0;
	background-position: center top;
}

body{
	margin:0px;
	padding-top: 50px;
	background-color: #203b54;
}

.navbar{
	line-height:20px 
}
.span9{
	background-color: #ffffff;	
}

#v-table {
  background-color: rgb(145, 235, 74);
  width="100%";
  max-width="100%"
}
#r-table {
  background-color: rgb(253, 253, 74);
	width="100%";
	max-width="100%"
}
#measure-table {
  background-color: rgb(197, 241, 243);
	width="100%";
	max-width="100%"
}

.row-bottom {
	border-bottom: 1px solid gray;
}

.h,.v{stroke:black;stroke-dasharray:4 4;stroke-width:1;stroke-opacity:.5;}
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}