body{
	margin:0px;
	padding-top: 50px
}

#v-table {
  background-color: rgb(145, 235, 74);
}
#r-table {
  background-color: rgb(253, 253, 74);
}
#measure-table {
  background-color: rgb(197, 241, 243);
}

.row-bottom {
	border-bottom: 1px solid gray;
}

.h,.v{stroke:black;stroke-dasharray:4 4;stroke-width:1;stroke-opacity:.5;}
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}